C2LP-ColdStorageDataHub/C2LP.ColdStorageDataHubClient/Web References/WRUpload/ColdChainServer2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/C2LP.WebService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/C2LP.WebService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.0.153:84/ColdChainServer?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/C2LP.WebService.Model.MyEnum" />
  <xs:complexType name="ArrayOfModel_NodeHistoryData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Model_NodeHistoryData" nillable="true" type="tns:Model_NodeHistoryData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModel_NodeHistoryData" nillable="true" type="tns:ArrayOfModel_NodeHistoryData" />
  <xs:complexType name="Model_NodeHistoryData">
    <xs:sequence>
      <xs:element name="_x003C_DataTime_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_Data_x003E_k__BackingField" type="xs:decimal" />
      <xs:element name="_x003C_Id_x003E_k__BackingField" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/C2LP.WebService.Model.MyEnum" name="_x003C_IsAlarm_x003E_k__BackingField" type="q1:Enum_HdAlarm" />
      <xs:element name="_x003C_PointId_x003E_k__BackingField" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Model_NodeHistoryData" nillable="true" type="tns:Model_NodeHistoryData" />
  <xs:complexType name="ResultModelOfboolean">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultModelOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/C2LP.WebService.Model" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:int" />
      <xs:element minOccurs="0" name="Data" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultModelOfboolean" nillable="true" type="tns:ResultModelOfboolean" />
</xs:schema>