C2LP-ColdStorageDataHub/C2LP.ColdStorageDataHubClient/Web References/WRUpload/ColdChainServer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ColdChainServer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.0.153:84/ColdChainServer?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.0.153:84/ColdChainServer?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.0.153:84/ColdChainServer?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/C2LP.WebService.Model" />
      <xsd:import schemaLocation="http://192.168.0.153:84/ColdChainServer?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/C2LP.WebService.Model.MyEnum" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IColdChainInterface_UploadRefHistDatas_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadRefHistDatas" />
  </wsdl:message>
  <wsdl:message name="IColdChainInterface_UploadRefHistDatas_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadRefHistDatasResponse" />
  </wsdl:message>
  <wsdl:message name="IColdChainInterface_UploadCarHistDatas_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadCarHistDatas" />
  </wsdl:message>
  <wsdl:message name="IColdChainInterface_UploadCarHistDatas_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadCarHistDatasResponse" />
  </wsdl:message>
  <wsdl:portType name="IColdChainInterface">
    <wsdl:operation name="UploadRefHistDatas">
      <wsdl:input wsaw:Action="http://tempuri.org/IColdChainInterface/UploadRefHistDatas" message="tns:IColdChainInterface_UploadRefHistDatas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IColdChainInterface/UploadRefHistDatasResponse" message="tns:IColdChainInterface_UploadRefHistDatas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadCarHistDatas">
      <wsdl:input wsaw:Action="http://tempuri.org/IColdChainInterface/UploadCarHistDatas" message="tns:IColdChainInterface_UploadCarHistDatas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IColdChainInterface/UploadCarHistDatasResponse" message="tns:IColdChainInterface_UploadCarHistDatas_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IColdChainInterface" type="tns:IColdChainInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadRefHistDatas">
      <soap:operation soapAction="http://tempuri.org/IColdChainInterface/UploadRefHistDatas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadCarHistDatas">
      <soap:operation soapAction="http://tempuri.org/IColdChainInterface/UploadCarHistDatas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ColdChainServer">
    <wsdl:port name="BasicHttpBinding_IColdChainInterface" binding="tns:BasicHttpBinding_IColdChainInterface">
      <soap:address location="http://192.168.0.153:84/ColdChainServer/ws" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>